/* .winner {
    color: green;
}

.loser {
    color: red;
} */

.card-footer{
    display: flex;
    flex-direction: row;
}

@media (max-width: 943px){
    .card-footer{
        flex-direction: column;
    }
}